<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1><a href="/events">Events</a> &gt; {{ event.name }}</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">{{ event.description }}</p>
        </div>
    </div>

    <div class="container basic-content">
        <div class="row">
            <div class="col-lg-4">
                <h3>Participating Teams</h3>
                {% for et in event.teams %}
                <p><a href="/events/team/{{ et.slug }}">{{ et.name }}</a></p>
                {% endfor %}
            </div>

            <style>
                .opponent-1 {
                    background: linear-gradient(to right, #24428E, rgba(36, 66, 142, 0.66));
                }
                .opponent-2 {
                    background: linear-gradient(to right, #AB001C, rgba(171, 0, 28, 0.66));
                }
            </style>
            <div class="col-lg-8">
                <h3>Matchups</h3>
                {% partial __SELF__~'::_template-' ~ event.type %}
            </div>
        </div>
    </div>
</div>