<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1>{{ event.name }}</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">{{ event.description }}</p>
        </div>
    </div>

    <div class="container basic-content">
        <div class="row">
            <div class="col-lg-4">
                <h3>Teams Qualified</h3>
                {% for et in event.teams %}
                <p>{{ et.name }}</p>
                {% endfor %}
            </div>

            <div class="col-lg-8">
                <h3>Matchups</h3>
                <div id="format-partial">
                    <!-- RR -->
                    {% set group = 1 %}
                    {% for division in matches %}
                    {% set match_order = 1 %}
                    <div class="round-robin-group mb-2">
                        <h6>Group {{ group }}</h6>
                        {% for match in division %}
                        <div class="match active border border-primary d-flex align-items-stretch">
                            <div class="match-order p-3">
                                <div class="match-header"><h5>{{ match_order }}</h5></div>
                            </div>

                            <div class="match-data mx-2 flex-fill d-flex flex-column">
                                <div class="d-flex justify-content-between{% if match.winner_id == match.team_one %} winner{% endif %}">
                                    <span class="name">{{ match.one.name }}</span>
                                    <span class="score">{{ match.team_one_score ?? 0 }}</span>
                                </div>
                                <div class="d-flex justify-content-between bg-dark{% if match.winner_id == match.team_two %} winner{% endif %}">
                                    <span class="name">{{ match.two.name }}</span>
                                    <span class="score">{{ match.team_two_score ?? 0 }}</span>
                                </div>
                            </div>
                        </div>
                        {% set match_order = match_order+1 %}
                        {% endfor %}
                    </div>
                    {% set group = group+1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>