<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1>Events</h1>
            <div class="sub-box"></div>
        </div>

        <div class="container basic-content">
            <div class="category-group">
                {% for event in events %}
                <div class="category-group-item">
                    <a href="/event/{{ event.slug }}">{{ event.name }}</a>
                </div>
                {% endfor %}
            </div>

            <div class="search-for-team-or-player">
                <h4>Search</h4>
                ???
            </div>
        </div>
    </div>
</div>