<div class="overlay-wrapper" style="background: #666;">
    <div class="overlay-header">
        <div class="xiv-block">
            <img class="xiv-logo" src="/themes/pvpaissa_organization/assets/images/xiv-logo-sm.png">
        </div>
        <div class="pvpaissa-block">
            <img class="paissa-logo" src="/themes/pvpaissa_organization/assets/images/pvpaissa-text.svg">
        </div>
    </div>

    <div class="overlay-content">
        <div class="overlay-content-wrapper">
            {% partial __SELF__~'::matchup' %}
        </div>
    </div>

    <div class="overlay-footer"></div>
</div>

<!--
'~event.type~'-'~size
-->