<div class="overlay-wrapper">
    <div class="overlay-content">
        <div id="overlay-matchup" class="overlay-content-wrapper">
            {% partial __SELF__~'::matchup' %}
        </div>
    </div>

    <div class="overlay-footer">
        <div class="xiv-block">
            <img class="xiv-logo overlay" src="/plugins/cleanse/event/assets/images/xiv-logo-sm.png">
        </div>
        <div class="pvpaissa-block">
            <img class="paissa-logo" src="/plugins/cleanse/event/assets/images/pvpaissa-peek.png">
        </div>
    </div>
</div>

<script>
    const broadcast_channel = {{ broadcast }};
</script>