<!-- start put in match partial -->
<div class="next-match-header">
    <h1>Next Match</h1>
    <p id="best-of">Best of 5</p>
</div>

<div class="teams-wrapper">
    <div class="team-wrapper team-one eu">
        <h2>0</h2>
        <div class="team-data">
            <img class="team-logo" src="https://i.gyazo.com/3fb93cba6658985b53c82fa7194ba7ad.png">
            <h3 class="team-one-bg">Chance of the Offensive Aegis Boon</h3>
        </div>
    </div>

    <div class="team-wrapper team-two na">
        <div class="team-data">
            <img class="team-logo" src="/storage/app/uploads/public/5ba/bd7/88a/thumb_449_96_96_0_0_auto.png">
            <h3 class="team-two-bg">Trois Pourcents</h3>
        </div>
        <h2>0</h2>
    </div>
</div>

<div class="versus"></div>
<!-- end put in match partial -->