<!--
<img class="claws-image" src="/plugins/cleanse/event/assets/images/score-claws.png"/>
<img class="fangs-image" src="/plugins/cleanse/event/assets/images/score-fangs.png"/>
-->
<div class="score-wrapper">
    <div class="claws-wrapper eu">
        <div class="team-content">
            <div class="team-banner">
                <div class="team-banner-image-wrapper">
                    <img class="claws-image" src="/plugins/cleanse/broadcast/assets/images/Aces.png"/>
                </div>
            </div>
            <h4>0</h4>
            <h2 class="text-na">Double God Blade</h2>
        </div>
    </div>
    <div class="globe-image-wrapper">
        <img class="globe-image" src="/plugins/cleanse/broadcast/assets/images/rotating_globe.gif"/>
    </div>
    <div class="meteor-image-wrapper">
        <img class="meteor-image" src="/plugins/cleanse/broadcast/assets/images/xiv-meteor.png"/>
    </div>
    <div class="fangs-wrapper na">
        <div class="team-content">
            <h2 class="text-jp">Chance of the Offensive Aegis Boon</h2>
            <h4>0</h4>
            <div class="team-banner">
                <div class="team-banner-image-wrapper">
                    <img class="fangs-image" src="/plugins/cleanse/broadcast/assets/images/burself.png"/>
                </div>
            </div>
        </div>
    </div>
</div>