/** 1920 x 690 */
.double-8 {
  margin: 0 auto;
  width: 1850px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  .upper-bracket-label,
  .lower-bracket-label {
    margin: 0 0 .75rem;
  }

  .lower-bracket-label {
    margin-top: .5rem;
    padding-top: 1rem;
  }

  .upper-bracket,
  .lower-bracket {
    display: flex;
    flex-wrap: nowrap;

    .round:not(:last-child) {
      margin-right: 20px;
    }
  }

  .upper-bracket {
    height: 432px;

    .round {
      &.off {
        display: none;
      }

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(2) {
        margin-top: 54px;

        .match-pair {
          .match:first-child {
            margin-bottom: 128px;
          }
        }
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        margin-top: 164px;
      }
    }

    .match-pair {
      &:first-child {
        margin-bottom: 20px;
      }

      .match:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .lower-bracket {
    margin-top: -30px;

    .round {
      &:first-child {
        margin-top: 48px;

        .match:first-child {
          margin-bottom: 20px;
        }
      }

      &:nth-child(3) {
        margin-top: 54px;
      }
    }

    .match-pair {
      .match:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .round {
    width: 380px;
    display: flex;
    flex-direction: column;

    .match {
      .opponent-1,
      .opponent-2,
      .seed {
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .name {
        font-size: 1.25rem;
      }

      .score {
        padding: 0 .5rem;
        font-size: 1.5rem;
      }
    }
  }
}