/** 1920 x 690 */
.round-robin {
  position: absolute;
  height: 690px;
  width: 1850px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 1px 2px 1px #000;

  h1 {
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(218, 165, 32, 0.33);
    font-size: 4rem;
  }

  h1,
  .rr-group-matches h3,
  .rr-group-standings h3 {
    margin-bottom: .25rem;
  }

  .rr-group-matches h3,
  .rr-group-standings h3 {
    font-size: 2rem;
  }

  .rr-group-wrapper {
    display: flex;
    justify-content: space-between;

    .rr-group-matches {
      width: 60%;

      h3 {
        padding: .5rem 0 .5rem .5rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background: linear-gradient(33deg, rgba(74, 144, 226, 0.33), rgba(100, 100, 100, 0.1));
      }

      .matches-wrapper {
        > div {
          display: flex;
          font-size: 2rem;
          margin-bottom: .25rem;
          padding: 1rem .5rem;
          background: linear-gradient(33deg, rgba($claws, .9), rgba($fangs, .9));
          color: #fff;
          text-shadow: 1px 2px 1px #000;

          &.complete {
            opacity: .9;
            background: linear-gradient(33deg, rgba(14, 26, 55, 0.9), rgba(55, 0, 10, 0.9));
          }

          &.active {
            border: 1px solid rgba(255, 255, 255, .33);
          }

          .opponent-1,
          .opponent-2 {
            width: 45%;

            .name {
              display: inline-block;
              font-family: "PT Sans Narrow", sans-serif;
            }

            .score {
              display: inline-block;
              height: 44px;
              width: 44px;
              padding: 0;
              line-height: 44px;
              background: linear-gradient(33deg, rgba(66, 66, 66, .8), rgba(66, 66, 66, .33));
              text-align: center;
            }

            .logo {
              display: none;
            }

            &.winner {
              .score {
                background: linear-gradient(33deg, rgba(218, 165, 32, .8), rgba(218, 165, 32, .33));
              }
            }
          }

          .match-versus {
            width: 10%;
            font-size: 1.5rem;
            text-align: center;
            line-height: 2.5rem;
          }

          .opponent-1 {
            .score {
              margin-right: .5rem;
            }
          }

          .opponent-2 {
            margin-left: auto;
            text-align: right;

            .score {
              margin-left: .5rem;
            }
          }
        }

        &.double {
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          justify-content: space-between;

          > div {
            width: 48%;
            padding: .5rem;
            font-size: 1.5rem;

            .opponent-2 {
              justify-content: flex-end;
            }
          }

          .opponent-1,
          .opponent-2 {
            display: flex;
            align-items: center;

            .name {
              display: none;
            }

            .logo {
              display: block;
              line-height: 0;

              img {
                height: 44px;
                width: auto;
              }
            }
          }

          .opponent-1 {
            .score {
              margin-right: .25rem;
            }
          }

          .opponent-2 {
            .score {
              margin-left: .25rem;
            }
          }
        }
      }
    }

    .rr-group-standings {
      width: 35%;

      h3 {
        padding: .5rem 0 .5rem .5rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background: linear-gradient(33deg, rgba(74, 144, 226, 0.33), rgba(100, 100, 100, 0.1));
      }

      .standing {
        display: flex;
        font-size: 2rem;

        .logo {
          margin-right: .5rem;
          line-height: 0;

          img {
            height: 44px;
            width: auto;
          }
        }

        .name {
          font-family: "PT Sans Narrow", sans-serif;
          line-height: 44px;
        }

        .points {
          margin-left: auto;
          display: inline-block;
          height: 44px;
          width: 44px;
          padding: 0;
          line-height: 44px;
          background: linear-gradient(33deg, rgba(74, 144, 226, .8), rgba(33, 33, 33, .33));
          text-align: center;
        }
      }

      .standings-wrapper {

        .inactive {
          display: none;
        }

        .standing {
          margin-bottom: .25rem;
          padding: 1rem .5rem;
          background: linear-gradient(33deg, rgba(33, 33, 33, 0.33), rgba(74, 144, 226, 0.1));
          color: #fff;
          text-shadow: 1px 2px 1px #000;

          &.jp {
            .logo {
              filter: drop-shadow(0 0 .75rem rgba($jp-color, .66));
            }

            .name {
              color: $jp-color;
            }
          }

          &.eu {
            .logo {
              filter: drop-shadow(0 0 .75rem rgba($eu-color, .66));
            }

            .name {
              color: $eu-color;
            }
          }

          &.na {
            .logo {
              filter: drop-shadow(0 0 .75rem rgba($na-color, .66));
            }

            .name {
              color: $na-color;
            }
          }
        }
      }
    }
  }
}

#overlay-groups {
  position: absolute;
  height: 690px;
  width: 1850px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 1px 2px 1px #000;

  .group-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    .group {
      width: 48%;
      margin-bottom: 1rem;

      h3 {
        margin-bottom: .25rem;
        padding: .5rem 0 .5rem .5rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background: linear-gradient(33deg, rgba(74, 144, 226, 0.33), rgba(100, 100, 100, 0.1));
      }

      #team-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        .team {
          display: flex;
          width: 46%;
          font-size: 1.5rem;
          margin-bottom: .25rem;
          padding: .5rem;
          background: linear-gradient(33deg, rgba(33, 33, 33, 0.33), rgba(74, 144, 226, 0.1));
          color: #fff;
          text-shadow: 1px 2px 1px #000;

          &.jp {
            .logo {
              filter: drop-shadow(0 0 .75rem rgba($jp-color, .66));
            }

            .name {
              color: $jp-color;
            }
          }

          &.eu {
            .logo {
              filter: drop-shadow(0 0 .75rem rgba($eu-color, .66));
            }

            .name {
              color: $eu-color;
            }
          }

          &.na {
            .logo {
              filter: drop-shadow(0 0 .75rem rgba($na-color, .66));
            }

            .name {
              color: $na-color;
            }
          }

          .logo {
            margin-right: .5rem;
            line-height: 0;

            img {
              height: 44px;
              width: auto;
            }
          }

          .name {
            font-family: "PT Sans Narrow", sans-serif;
            line-height: 44px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .points {
            display: inline-block;
            height: 44px;
            width: 44px;
            margin-right: 1rem;
            padding: 0;
            background: linear-gradient(33deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .33));
            text-align: center;
            line-height: 44px;
          }
        }
      }
    }
  }
}