/** 1920 x 690 */
.round-robin {
  position: absolute;
  height: 690px;
  width: 1850px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 1px 2px 1px #000;

  h1 {
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(218, 165, 32, 0.33);
    font-size: 4rem;
  }

  h1,
  .rr-group-matches h3,
  .rr-group-standings h3 {
    margin-bottom: .25rem;
  }

  .rr-group-matches h3,
  .rr-group-standings h3 {
    font-size: 2rem;
  }

  .rr-group-wrapper {
    display: flex;
    justify-content: space-between;

    .rr-group-matches {
      width: 60%;

      h3 {
        padding: .5rem 0 .5rem .5rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background: linear-gradient(33deg, rgba(155, 155, 255, 0.33), rgba(74, 144, 226, 0.1));
      }

      .matches-wrapper {
        > div {
          display: flex;
          font-size: 2rem;
          margin-bottom: .25rem;
          padding: .5rem;
          background: linear-gradient(33deg, rgba($claws, .33), rgba($fangs, .1));
          color: #fff;
          text-shadow: 1px 2px 1px #000;

          &.complete {
            opacity: .5;
            background: linear-gradient(33deg, rgba(14, 26, 55, 0.33), rgba(55, 0, 10, 0.33));
          }

          &.active {
            opacity: 1;
            background: linear-gradient(33deg, rgba(36, 66, 142, 0.9), rgba(171, 0, 28, 0.9));
          }

          .opponent-1,
          .opponent-2 {
            width: 45%;

            .name {
              display: inline-block;
              font-family: "PT Sans Narrow", sans-serif;
            }

            .score {
              display: inline-block;
              padding: .25rem .5rem;
              background: linear-gradient(33deg, rgba(33, 33, 33, .8), rgba(33, 33, 33, .8));
              text-align: center;
            }

            &.winner {
              .score {
                background: linear-gradient(33deg, rgba(33, 255, 33, .3), rgba(33, 255, 33, .8));
              }
            }
          }

          .match-versus {
            width: 10%;
            font-size: 1.5rem;
            text-align: center;
            line-height: 2.5rem;
          }

          .opponent-1 {
            .score {
              margin-right: .25rem;
            }
          }

          .opponent-2 {
            margin-left: auto;
            text-align: right;

            .score {
              margin-left: .25rem;
            }
          }
        }

        &.double {
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          justify-content: space-between;

          > div {
            width: 48%;
            font-size: 1.5rem;

            .opponent-2 {
              justify-content: flex-end;
            }
          }

          .opponent-1,
          .opponent-2 {
            display: flex;
            align-items: center;

            .score {
              height: 44px;
              width: 44px;
              padding: 0;
              line-height: 44px;
            }

            .logo {
              line-height: 0;

              img {
                height: 44px;
                width: auto;
              }
            }
          }
        }
      }
    }

    .rr-group-standings {
      width: 35%;

      h3 {
        padding: .5rem 0 .5rem .5rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background: rgba(218, 165, 32, 0.33);
      }

      .standing {
        display: flex;
        font-size: 2rem;

        &.qualified {
          border: 1px solid darkseagreen;
        }

        &.qualified:nth-child(3) {
          border: 1px solid red;
        }

        .logo {
          margin-right: .5rem;
          line-height: 0;

          img {
            height: 44px;
            width: auto;
          }
        }

        .name {
          font-family: "PT Sans Narrow", sans-serif;
          line-height: 44px;
        }

        .points {
          margin-left: auto;
        }
      }

      .standings-wrapper {
        border-left: 1px solid rgba(218, 165, 32, 0.33);
        border-right: 1px solid rgba(218, 165, 32, 0.33);

        .inactive {
          display: none;
        }

        .standing {
          margin-bottom: .25rem;
          padding: 1rem .5rem;
          background: linear-gradient(33deg, rgba(33, 33, 33, 0.33), rgba(74, 144, 226, 0.1));
          color: #fff;
          text-shadow: 1px 2px 1px #000;
        }
      }
    }
  }
}
