#overlay-score {
  &.score-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    width: 475px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
  }

  #one-wrapper,
  #two-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5px 0;

    .team-content {
      display: flex;
      justify-content: space-around;
      align-content: space-between;
      align-items: center;
      text-align: center;
    }

    &.eu {
      .one-image {
        filter: drop-shadow(0 0 .75rem rgba($eu-color, .33));
      }
    }

    &.jp {
      .one-image {
        filter: drop-shadow(0 0 .75rem rgba($jp-color, .33));
      }
    }

    &.na {
      .one-image {
        filter: drop-shadow(0 0 .75rem rgba($na-color, .33));
      }
    }
  }

  #one-score,
  #two-score {
    margin: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 4.25rem;
  }

  #one-score {
    text-shadow: $claws 1px 0 10px;
  }

  #two-score {
    text-shadow: $fangs 1px 0 10px;
  }

  #one-wrapper {
    background: linear-gradient(33deg, rgba(darken($claws, 50%), .9), rgba($claws, .9));
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
  }

  #two-wrapper {
    background: linear-gradient(-33deg, rgba(darken($fangs, 50%), .9), rgba($fangs, .9));
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;

    .team-content {
      flex-direction: row-reverse;
    }
  }

  .one-image,
  .two-image {
    max-height: 128px !important;
    max-width: 128px !important;
    width: 128px;
    filter: drop-shadow(0 0 .75rem rgba(0, 0, 0, .33));
    border-radius: .5rem;
  }
}