#overlay-score {
  &.score-wrapper {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 475px;
    margin: 0 auto;
    border-radius: .5rem;
    background: #fff;
  }

  #one-wrapper,
  #two-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .team-content {
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      align-items: center;
      text-align: center;

      .one-image,
      .two-image {
        max-height: 128px !important;
        max-width: 128px !important;
        width: 128px;
        border-radius: .5rem;
      }

      .one-image {
        margin-left: 11px;
        filter: drop-shadow(0 0 .75rem rgba(darken($claws, 20%), 1));
      }

      .two-image {
        margin-right: 11px;
        filter: drop-shadow(0 0 .75rem rgba(darken($fangs, 20%), 1));
      }

      .score-region {
        display: flex;
        flex-direction: column;
      }

      #one-score,
      #two-score {
        width: 85px;
        margin: 0;
        color: #fff;
        font-family: Raleway, sans-serif;
        font-size: 4.25rem;
      }

      #one-score {
        text-shadow: 1px 0 10px rgba(darken($claws, 20%), 1);
      }

      #two-score {
        text-shadow: 1px 0 10px rgba(darken($fangs, 20%), 1);
      }

      #one-region,
      #two-region {
        margin: 0;
        font-size: 2.25rem;
        text-align: center;
        text-transform: uppercase;
      }

      #one-region {
        color: lighten($claws, 25%);
      }

      #two-region {
        color: lighten($fangs, 25%);
      }
    }
  }

  #one-wrapper {
    background: linear-gradient(33deg, rgba(darken($claws, 20%), .9), rgba($claws, .9));
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
  }

  #two-wrapper {
    background: linear-gradient(-33deg, rgba(darken($fangs, 20%), .9), rgba($fangs, .9));
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;

    .team-content {
      flex-direction: row-reverse;
    }
  }
}