/** 1920 x 690 */
.bracket {
  position: absolute;
  top: 133px;
  height: 690px;
  margin: 0 10px;
}

.match {
  border-radius: .25rem;

  &.active {
    box-shadow: 0 0 15px 5px rgba(57, 87, 136, 0.66);
  }

  .opponent-1 {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(to right, $claws, rgba($claws, .66));
  }

  .opponent-2 {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: linear-gradient(to right, $fangs, rgba($fangs, .66));
  }
}

.seeds {
  .seed {
    background: mediumpurple;
  }

  .seed:first-child {
    background: darkseagreen;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@keyframes animatedGradient {
  0% {
    background-size: 333% 200%;
    background-position: 50% 0;
  }
  25% {
    background-size: 333% 233%;
    background-position: 33% 66%;
  }
  50% {
    background-size: 100% 100%;
    background-position: 100% 100%;
  }
  75% {
    background-size: 233% 333%;
    background-position: 66% 33%;
  }
  100% {
    background-size: 200% 333%;
    background-position: 0 50%;
  }
}