/** 1920 x 690 */
.bracket {
  position: absolute;
  top: 133px;
  height: 690px;

  .upper-bracket-label,
  .lower-bracket-label {
    color: #fff;
    text-shadow: 1px 2px 1px #000;
  }

  .lower-bracket-label {
    border-top: 1px solid rgba(#fff, .33);
  }
}

.match {
  border-radius: .25rem;
  color: #fff;

  &.active {
    box-shadow: 0 0 15px 5px rgba(57, 87, 136, 0.66);
  }

  .match-header {
    display: flex;
    justify-content: space-between;
    padding: .25rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(to right, rgba(#DAA520, .33), rgba(#DAA520, .1));
    color: #fff;

    span {
      color: rgba(#DAA520, 1);
    }
  }

  .opponent-1 {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(to right, $claws, rgba($claws, .66));
  }

  .opponent-2 {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: linear-gradient(to right, $fangs, rgba($fangs, .66));
  }

  .name {
    flex-grow: 1;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }

  .score {
    font-family: 'PT Mono', monospace;
  }
}

.seeds {
  .seed {
    background: mediumpurple;
  }

  .seed:first-child {
    background: darkseagreen;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@keyframes animatedGradient {
  0% {
    background-size: 333% 200%;
    background-position: 50% 0;
  }
  25% {
    background-size: 333% 233%;
    background-position: 33% 66%;
  }
  50% {
    background-size: 100% 100%;
    background-position: 100% 100%;
  }
  75% {
    background-size: 233% 333%;
    background-position: 66% 33%;
  }
  100% {
    background-size: 200% 333%;
    background-position: 0 50%;
  }
}