.nav-tabs .nav-link.nav-btn-highlight {
  color: #fff;
  background-color: #ff75e2;
  border-color: #ff75e2;
}

.input-group-btn > .image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #FFDD5F;
  background-color: #212529;
  border-color: #FFDD5F;
  border-top-right-radius: .5rem;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-input-title {
  margin-left: 2px;
}

.team-row:hover {
  background: #111;
}

.team-logo-wrapper {
  width: 50px;
}