@import "./resources/reboot";
@import "./resources/general";
@import "./resources/bracket";
@import "./resources/bracket-single-eight";
@import "./resources/bracket-double-eight";
@import "./resources/bracket-single-four";
@import "./resources/bracket-double-four";
@import "./resources/round-robin";
@import "./resources/matchup";
@import "./resources/score";
@import "./resources/team-names";
@import "./resources/information-box";
