$claws-color: #043288;
$fangs-color: #9f423e;
$eu-color: #52b04f;
$jp-color: #9472c4;
$na-color: #ed515b;

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.score-wrapper {
  margin: 36px auto 0;
  position: relative;
  min-height: 64px;
  width: 800px;
}

.meteor-image-wrapper {
  position: absolute;
  top: -33px;
  left: 348px;
  filter: grayscale(100%);
  z-index: 333;
}

.globe-image-wrapper {
  position: absolute;
  top: 0;
  left: 368px;
  filter: grayscale(100%) contrast(200%);
  z-index: 336;
}

.meteor-image {
  height: 109px;
  width: 109px;
}

.globe-image {
  height: 64px;
  width: 64px;
}

.one-wrapper,
.two-wrapper {
  width: 400px;
  height: 100%;
  position: absolute;

  //Start might scrap
  .text-eu {
    color: $eu-color;
  }

  .text-jp {
    color: $jp-color;
  }

  .text-na {
    color: $na-color;
  }
  //End might scrap
}

.team-content {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.one-wrapper h2,
.two-wrapper h2 {
  color: #fff;
  font-size: 1.25rem;
}

.two-wrapper h2 {
  text-align: right;
}

.one-wrapper h4,
.two-wrapper h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.one-wrapper {
  left: 0;
  background: $claws-color;

  .team-banner {
    left: 0;
    transform: skew(-25deg) translateX(-40px);
    background: $claws-color;

    .team-banner-image-wrapper {

      &:after {
        right: 0;
        background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5));
      }

      img {
        left: 22%;
        transform: skew(25deg) translateY(-50%);
      }
    }
  }

  h4 {
    padding-right: 1rem;
    margin-left: 96px;
  }
}

.two-wrapper {
  right: 0;
  background: $fangs-color;

  .team-content {
    justify-content: flex-end;
  }

  .team-banner {
    right: 0;
    transform: skew(25deg) translateX(40px);
    background: $fangs-color;

    .team-banner-image-wrapper {

      &:after {
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
      }

      img {
        right: 22%;
        transform: skew(-25deg) translateY(-50%);
      }
    }
  }

  h4 {
    padding-left: 1rem;
    margin-right: 96px;
  }
}

.eu {
  .team-banner {
    background: $eu-color;
  }
}

.jp {
  .team-banner {
    background-color: $jp-color;
  }
}

.na {
  .team-banner {
    background-color: $na-color;
  }
}

.team-banner {
  height: 64px;
  width: 118px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.team-banner-image-wrapper {
  height: 100%;
  position: relative;

  &:after {
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    content: "";
  }

  img {
    display: block;
    max-height: 96px !important;
    max-width: 96px !important;
    position: absolute;
    top: 50%;
    width: 96px;
  }
}

