<!-- Bracket: Double -->
<div class="bracket-double mb-2">
    {% for m in matches %}
    <div class="match active border border-primary d-flex align-items-stretch p-1">
        <div class="match-order p-3">
            <div class="match-header"><h5>{{ m.order }}</h5></div>
        </div>

        <div class="match-data mx-2 py-2 flex-fill d-flex flex-column">
            <div class="d-flex justify-content-between{% if match.winner_id == match.team_one %} winner{% endif %}">
                <span class="name">{{ m.one.name }}</span>
                <span class="score">{{ m.team_one_score ?? 0 }}</span>
            </div>
            <div class="d-flex justify-content-between bg-dark{% if match.winner_id == match.team_two %} winner{% endif %}">
                <span class="name">{{ m.two.name }}</span>
                <span class="score">{{ m.team_two_score ?? 0 }}</span>
            </div>

        </div>
        <button type="button" class="btn btn-outline-primary"
                data-request="onRequestMatchUpdate"
                data-request-data="id: {{ match.id }}, type: '{{ event.type }}'"
                data-request-update="'{{ __SELF__ }}::_match': '#matchResult'"
                data-toggle="modal"
                data-target="#matchModal">
            Edit Match
        </button>
    </div>
    {% endfor %}
</div>
<div id="result">
    {% partial '@_edit' %}
</div>