<div class="mt-2">
    <p class="pt-2 lead">Stream Broadcast Settings</p>
    <p>List of matches</p>
    <hr>
    <button>Manage Overlays</button>
</div>

<ul>
    <li>
        Re-order Matches for broadcast.
        <ul>
            <li>Add 'Broadcast' model, have match order in there?</li>
            <li>Broadcast: id, event_id, broadcast_order_list_id</li>
            <li><em>Need to set validation so certain orders are not allowed?</em></li>
        </ul>
    </li>
    <li>Open in a modal overlay from this page in-case a match needs to be broadcast 'out of order'.</li>
    <li>Use broadcast plugin already created?</li>
    <li>Use code from broadcast plugin already created?</li>
</ul>