<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1><i class="fas fa-user-lock"></i> Manage Events</h1>
            <div class="sub-box"></div>
            <p class="text-light lead">
                Manage (edit and control activation) your events.</p>
        </div>

        <div class="container basic-content">
            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-primary" href="/event/create">Create New Event</a>
                <a class="btn btn-outline-info" href="/events/teams/manage">Manage Teams</a>
            </div>

            <hr>

            <h3>Active Events</h3>
            <div class="category-group">
                {% for e in events %}
                <div class="border border-secondary p-3 d-flex justify-content-between">
                    <a href="/event/{{ e.id }}/edit">
                        Edit {{ e.name }}
                        <p class="m-0 text-light">{{ e.description }}</p>
                    </a>

                    <div class="actions">
                        <a class="badge badge-dark" href="/event/{{ e.id }}/activate">
                        {% if e.active %}
                            Activated
                        {% else %}
                            Inactive
                        {% endif %}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>