<p class="pt-2 lead">Browser Source Links</p>

<div class="card-group">
    <div class="card bg-black text-white" style="width: 18rem;">
        <img src="https://cdn1.iconfinder.com/data/icons/soccer-line-1/64/soccer-08-512.png"
             class="card-img-top" alt="Preview of the score overlay.">
        <div class="card-body">
            <h5 class="card-title">Event Overview</h5>
            <p class="card-text">/event/broadcast/{{ broadcast.id }}/event</p>
            <a href="#" class="btn btn-outline-primary btn-sm">Copy Score Overlay Link</a>
        </div>
    </div>

    <div class="card bg-black text-white" style="width: 18rem;">
        <img src="https://cdn1.iconfinder.com/data/icons/soccer-line-1/64/soccer-08-512.png"
             class="card-img-top" alt="Preview of the match up overlay.">
        <div class="card-body">
            <h5 class="card-title">Current Matchup</h5>
            <p class="card-text">/event/broadcast/{{ broadcast.id }}/matchup</p>
            <a href="#" class="btn btn-outline-primary btn-sm">Copy Current Matchup Overlay Link</a>
        </div>
    </div>

    <div class="card bg-black text-white" style="width: 18rem;">
        <img src="https://cdn1.iconfinder.com/data/icons/soccer-line-1/64/soccer-08-512.png"
             class="card-img-top" alt="Preview of the score overlay.">
        <div class="card-body">
            <h5 class="card-title">Score</h5>
            <p class="card-text">/event/broadcast/{{ broadcast.id }}/score</p>
            <a href="#" class="btn btn-outline-primary btn-sm">Copy Score Overlay Link</a>
        </div>
    </div>
</div>