<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1><a href="/event/{{ broadcast.event_id }}/edit">Event</a> Broadcast</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">{{ broadcast.name }}</p>
        </div>
    </div>

    <div class="container basic-content">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% if broadcast.matches.count > 0 %}
                <a class="nav-item nav-link active" id="nav-lineup-tab" data-toggle="tab" href="#nav-lineup"
                   role="tab" aria-controls="nav-lineup" aria-selected="true">Lineup</a>
                {% endif %}
                <a class="nav-item nav-link{% if broadcast.matches.count == 0 %} active{% endif %}" id="nav-matches-tab"
                   data-toggle="tab" href="#nav-matches" role="tab"
                   aria-controls="nav-matches"
                   aria-selected="{% if broadcast.matches.count == 0 %}true{% else %}false{% endif %}">Add Matches</a>
                <a class="nav-item nav-link" id="nav-browser-source-tab" data-toggle="tab" href="#nav-browser-source"
                   role="tab" aria-controls="nav-browser-source" aria-selected="false">Browser Sources</a>
                <a class="nav-item nav-link" id="nav-browser-info-tab" data-toggle="tab" href="#nav-browser-info"
                   role="tab" aria-controls="nav-browser-info" aria-selected="false">Info Box&plus;</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            {% if broadcast.matches.count > 0 %}
            <div class="tab-pane fade show active" id="nav-lineup" role="tabpanel"
                 aria-labelledby="nav-lineup-tab">
                {% partial __SELF__~'::broadcast-lineup' %}
            </div>
            {% endif %}
            <div class="tab-pane fade{% if broadcast.matches.count == 0 %} show active{% endif %}"
                 id="nav-matches" role="tabpanel" aria-labelledby="nav-matches-tab">
                {% partial __SELF__~'::broadcastable' %}
            </div>
            <div class="tab-pane fade" id="nav-browser-source" role="tabpanel" aria-labelledby="nav-browser-source-tab">
                {% partial __SELF__~'::browser-source' %}
            </div>
            <div class="tab-pane fade" id="nav-browser-info" role="tabpanel" aria-labelledby="nav-browser-info-tab">
                {% partial __SELF__~'::information' %}
            </div>
        </div>

        <hr>
        <div class="d-flex flex-row-reverse">
            {{ form_ajax('onDeleteBroadcast', { data: { id: broadcast.id, event: broadcast.event_id }, confirm: 'Really delete this broadcast?' }) }}
            <button type="submit" class="btn btn-outline-danger">Delete Broadcast</button>
            {{ form_close() }}
        </div>
    </div>
</div>