<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1><a href="/event/{{ broadcast.event_id }}/edit">Event</a> Broadcast</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">{{ broadcast.name }}</p>
        </div>
    </div>

    <div class="container basic-content">
        <div class="the-overlay-links mb-2">
            <h3>Copy Links for OBS</h3>
            <a class="btn btn-outline-primary btn-sm" href="/broadcast/{{ broadcast.id }}/current">Current Matchup</a>
            <a class="btn btn-outline-primary btn-sm" href="/broadcast/{{ broadcast.id }}/lineup">Broadcast Lineup</a>
            <a class="btn btn-outline-primary btn-sm" href="/broadcast/{{ broadcast.id }}/score">In Game Score</a>
            <a class="btn btn-outline-primary btn-sm" href="/broadcast/{{ broadcast.id }}/misc">What else?</a>

            <hr>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3>Current Broadcast Lineup</h3>
                <p>Broadcast Order | Broadcast Match</p>
                {% for bm in broadcast.matches %}
                {{ form_open({ request: __SELF__~'::onRemoveBroadcastMatch' }) }}
                <input type="hidden" name="broadcast" value="{{ broadcast.id }}">
                <input type="hidden" name="match" value="{{ bm.id }}">
                <div class="category-group-item d-flex align-items-start">
                    <span>
                        {{ bm.pivot.lineup }} |
                    </span>

                    <span>
                        {{ bm.one.name }}<br>vs<br>{{ bm.two.name }}
                    </span>

                    <button class="btn btn-outline-primary btn-sm ml-auto" type="submit">Remove Match</button>
                </div>
                {{ form_close() }}
                {% endfor %}
            </div>

            <div class="col-lg-6">
                <h3>Broadcastable Matches</h3>
                {% for m in broadcast.broadcastableMatches %}
                {{ form_open({ request: __SELF__~'::onAddBroadcastMatch' }) }}
                <input type="hidden" name="broadcast" value="{{ broadcast.id }}">
                <input type="hidden" name="match" value="{{ m.id }}">
                <input type="hidden" name="count" value="{{ broadcast.matches.count + 1 }}">
                    <div class="category-group-item d-flex justify-content-between align-items-start">
                        {{ m.one.name }}<br>vs<br>{{ m.two.name }}

                        <button class="btn btn-outline-primary btn-sm" type="submit">Add Match</button>
                    </div>
                {{ form_close() }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>