<div class="overlay-wrapper">
    <div class="overlay-content">
        <div class="overlay-content-wrapper">
            {% if event.type %}
                {% if event.type == 'round-robin' %}
            <div id="overlay-event-rr">
                {% partial __SELF__~'::round-robin' %}
            </div>
                {% else %}
            <div id="overlay-event-bracket">
                {% partial __SELF__~'::'~event.type~'-'~size %}
            </div>
               {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="overlay-footer"></div>
</div>

<script>
    const broadcast_channel = {{ broadcast }};
</script>