<div class="overlay-wrapper">
    <div class="overlay-content">
        <div class="overlay-content-wrapper">
            {% if event.type %}
                {% if event.type == 'round-robin' %}
                    {% partial __SELF__~'::round-robin' %}
                {% else %}
            <div id="overlay-event-bracket">
                {% partial __SELF__~'::'~event.type~'-'~size %}
            </div>
               {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="overlay-footer">
        <div class="xiv-block">
            <img class="xiv-logo overlay" src="/plugins/cleanse/event/assets/images/xiv-logo-sm.png">
        </div>
        <div class="pvpaissa-block">
            <img class="paissa-logo" src="/plugins/cleanse/event/assets/images/pvpaissa-peek.png">
        </div>
    </div>
</div>

<script>
    const broadcast_channel = {{ broadcast }};
</script>