<div class="overlay-wrapper">
    <div class="overlay-header">
        <div class="xiv-block">
            <img class="xiv-logo" src="/themes/pvpaissa_organization/assets/images/xiv-logo-sm.png">
        </div>
        <div class="pvpaissa-block">
            <img class="paissa-logo" src="/themes/pvpaissa_organization/assets/images/pvpaissa-text.svg">
        </div>
    </div>

    <div class="overlay-content">
        <div id="overlay-event" class="overlay-content-wrapper">
            {% partial __SELF__~'::'~event.type~'-'~size %}
        </div>
    </div>

    <div class="overlay-footer"></div>
</div>