{% set match_top = '18.875rem' %}
{% set match_left = '60rem' %}
{% set match_id = 'LB4.1' %}
{% set match_title = 'LB4.1' %}

<div class="match-wrapper" style="left: {{ match_left }}; top: {{ match_top }};">
    <div class="match format-mini" id="{{ match_id }}">
        <div class="header">
            <div class="id">{{ match_title }}</div>
        </div>
        <div class="record">
            <div class="opponent opponent-1">
                <div class="name">
                    {{ match_opponent_1 }}
                </div>
            </div>
            <div class="opponent opponent-2">
                <div class="name">
                    {{ match_opponent_2 }}
                </div>
            </div>
        </div>
    </div>

</div>