<div id="bracket" style="position: absolute; top: 133px; display: block; overflow: auto;">
    <div class="bracket format-standard" style="width: 105rem; height: 35rem; margin: 0 auto;">
        <div class="bracket-nodes" style="position: relative;">
            <div style="position: absolute; left: 90rem; top: 13.09375rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="GF2.1">
                    <div class="header">
                        <div class="id">GF2.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301400207380"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-gf1">
                                <a href="#">
                                    Winner of GF1.1</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301400207380"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="loser-gf1">
                                <a href="#">
                                    Loser of GF1.1</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 75rem; top: 13.09375rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="GF1.1">
                    <div class="header">
                        <div class="id">GF1.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761815"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb3">
                                <a href="#">
                                    Winner of WB3.1</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761815"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-lb4">
                                <a href="#">
                                    Winner of LB4.1</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 45rem; top: 7.3125rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB3.1">
                    <div class="header">
                        <div class="id">WB3.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761818"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb2">
                                <a href="#">
                                    Winner of WB2.1</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761818"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb2">
                                <a href="#">
                                    Winner of WB2.2</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 15rem; top: 2.6875rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB2.1">
                    <div class="header">
                        <div class="id">WB2.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761821"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb1">
                                <a href="#">
                                    Winner of WB1.1
                                    <span class="text secondary tiny" data-type="participant-name">(6ixx)</span></a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761821"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb1">
                                <a href="#">
                                    Winner of WB1.2</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 0rem; top: 0.375rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB1.1">
                    <div class="header">
                        <div class="id">WB1.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761824"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #1
                                <span class="text secondary tiny">(6ixx)</span>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761824"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #8
                                <span class="text secondary tiny">(Unnamed #3)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 0rem; top: 5rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB1.2">
                    <div class="header">
                        <div class="id">WB1.2</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761827"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #4
                                <span class="text secondary tiny">(Unnamed #6)</span>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761827"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #5
                                <span class="text secondary tiny">(Unnamed #5)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 15rem; top: 11.9375rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB2.2">
                    <div class="header">
                        <div class="id">WB2.2</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761830"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb1">
                                <a href="#">
                                    Winner of WB1.3</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761830"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-wb1">
                                <a href="#">
                                    Winner of WB1.4</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 0rem; top: 9.625rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB1.3">
                    <div class="header">
                        <div class="id">WB1.3</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761833"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #2
                                <span class="text secondary tiny">(Unnamed #8)</span>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761833"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #7
                                <span class="text secondary tiny">(Unnamed #2)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 0rem; top: 14.25rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="WB1.4">
                    <div class="header">
                        <div class="id">WB1.4</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761836"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #3
                                <span class="text secondary tiny">(Unnamed #7)</span>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761836"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="1" data-bracket-swap-group="">
                                <i class="fa-lock"></i>
                                Seed #6
                                <span class="text secondary tiny">(Unnamed #4)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 60rem; top: 18.875rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="LB4.1">
                    <div class="header">
                        <div class="id">LB4.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761839"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="loser-wb3">
                                <a href="#">
                                    Loser of WB3.1</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761839"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-lb3">
                                <a href="#">
                                    Winner of LB3.1</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 45rem; top: 24.65625rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="LB3.1">
                    <div class="header">
                        <div class="id">LB3.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761842"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-lb2">
                                <a href="#">
                                    Winner of LB2.1</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761842"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-lb2">
                                <a href="#">
                                    Winner of LB2.2</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 30rem; top: 21.1875rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="LB2.1">
                    <div class="header">
                        <div class="id">LB2.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761845"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="loser-wb2">
                                <a href="#">
                                    Loser of WB2.2</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761845"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-lb1">
                                <a href="#">
                                    Winner of LB1.1</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 15rem; top: 23.5rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="LB1.1">
                    <div class="header">
                        <div class="id">LB1.1</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761848"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="loser-wb1">
                                <a href="#">
                                    Loser of WB1.2</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761848"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="loser-wb1">
                                <a href="#">
                                    Loser of WB1.1
                                    <span class="text secondary tiny"
                                          data-type="participant-name">(Unnamed #3)</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 30rem; top: 28.125rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="LB2.2">
                    <div class="header">
                        <div class="id">LB2.2</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761851"
                                 data-bracket-swap-number="1" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="loser-wb2">
                                <a href="#">
                                    Loser of WB2.1</a>
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name" data-bracket-swap-enabled="1" data-bracket-swap-node="2350273301433761851"
                                 data-bracket-swap-number="2" data-bracket-swap-locked="0"
                                 data-bracket-swap-group="winner-lb1">
                                <a href="#">
                                    Winner of LB1.2</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; left: 15rem; top: 30.4375rem; width: 13rem; height: 3.875rem;">
                <div class="match format-mini" id="LB1.2">
                    <div class="header">
                        <div class="id">LB1.2</div>
                    </div>
                    <div class="record">
                        <div class="opponent opponent-1">
                            <div class="name">
                                Chance of the Offensive Aegis Boon
                            </div>
                        </div>
                        <div class="opponent opponent-2">
                            <div class="name">
                                peepopoopoo
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <svg class="bracket-links" x="0" y="0" viewBox="0 0 105000 34687.5">
            <polyline class="link winner"
                      points="88000,15031.25 89000,15031.25 89000,15031.25 89000,15031.25 90000,15031.25 "
                      fill="none"></polyline>

            <polyline class="link loser" points="" fill="none"></polyline>

            <polyline class="link winner" points="58000,9250 59000,9250 74000,9250 74000,15031.25 75000,15031.25 "
                      fill="none"></polyline>

            <polyline class="link winner"
                      points="73000,20812.5 74000,20812.5 74000,20812.5 74000,15031.25 75000,15031.25 "
                      fill="none"></polyline>

            <polyline class="link winner" points="28000,4625 29000,4625 44000,4625 44000,9250 45000,9250 "
                      fill="none"></polyline>

            <polyline class="link winner" points="28000,13875 29000,13875 44000,13875 44000,9250 45000,9250 "
                      fill="none"></polyline>

            <polyline class="link winner" points="13000,2312.5 14000,2312.5 14000,2312.5 14000,4625 15000,4625 "
                      fill="none"></polyline>

            <polyline class="link winner" points="13000,6937.5 14000,6937.5 14000,6937.5 14000,4625 15000,4625 "
                      fill="none"></polyline>

            <polyline class="link winner" points="13000,11562.5 14000,11562.5 14000,11562.5 14000,13875 15000,13875 "
                      fill="none"></polyline>

            <polyline class="link winner" points="13000,16187.5 14000,16187.5 14000,16187.5 14000,13875 15000,13875 "
                      fill="none"></polyline>

            <polyline class="link loser" points="59000,19843.75 59000,20812.5 60000,20812.5 " fill="none"></polyline>

            <polyline class="link winner"
                      points="58000,26593.75 59000,26593.75 59000,26593.75 59000,20812.5 60000,20812.5 "
                      fill="none"></polyline>

            <polyline class="link winner" points="43000,23125 44000,23125 44000,23125 44000,26593.75 45000,26593.75 "
                      fill="none"></polyline>

            <polyline class="link winner"
                      points="43000,30062.5 44000,30062.5 44000,30062.5 44000,26593.75 45000,26593.75 "
                      fill="none"></polyline>

            <polyline class="link loser" points="29000,22156.25 29000,23125 30000,23125 " fill="none"></polyline>

            <polyline class="link winner" points="28000,25437.5 29000,25437.5 29000,25437.5 29000,23125 30000,23125 "
                      fill="none"></polyline>

            <polyline class="link loser" points="14000,24468.75 14000,25437.5 15000,25437.5 " fill="none"></polyline>

            <polyline class="link loser" points="14000,24468.75 14000,25437.5 15000,25437.5 " fill="none"></polyline>

            <polyline class="link loser" points="29000,29093.75 29000,30062.5 30000,30062.5 " fill="none"></polyline>

            <polyline class="link winner" points="28000,32375 29000,32375 29000,32375 29000,30062.5 30000,30062.5 "
                      fill="none"></polyline>

            <polyline class="link loser" points="14000,31406.25 14000,32375 15000,32375 " fill="none"></polyline>

            <polyline class="link loser" points="14000,31406.25 14000,32375 15000,32375 " fill="none"></polyline>

        </svg>
    </div>
</div>