<div class="title-header">
    <h1>{{ event.name }}</h1>
    <p id="best-of">Group Stage Overview</p>
</div>

<div id="overlay-event-groups">
    <div id="group-wrapper" class="group-wrapper{{ group_layout }}">
        {% set gn = 0 %}
        {% for group in groups %}
        <div id="group-{{ gn }}" class="group">
            <h3>Group {{ gn+1 }}</h3>
            <div id="team-container">
                {% set s = 0 %}
                {% for t in group %}
                <div id="team-{{ s }}" class="team">
                    <div class="points">{{ t.pivot.points ?? t.pivot.seed }}</div>
                    {% if t.logo %}
                    <div class="logo"><img src="{{ t.getLogoThumb(44) }}"></div>
                    {% else %}
                    <div class="logo"><img src="{{ default_logo }}"></div>
                    {% endif %}
                    <div class="name">{{ t.name }}</div>
                </div>
                {% set s = s+1 %}
                {% endfor %}
            </div>
        </div>
        {% set gn = gn + 1 %}
        {% endfor %}
    </div>
</div>