<div class="next-match-header">
    <h1>{{ event.name }}</h1>
    <p id="best-of">{{ event.winner ? event.winner.name~' win!' : event.description }}</p>
</div>

<div class="round-robin">
    <h1 id="current-group">Group {{ group_number }}</h1>
    <div class="rr-group-wrapper">
        <div class="rr-group-matches">
            <h3>Matches</h3>
            <div class="matches-wrapper">
                {% set n = 0 %}
                {% for m in event.matches %}
                <div id="match-{{ n }}" class="active">
                    <div class="opponent-1">
                        <div class="score">{{ m.team_one_score ?? 0 }}</div>
                        <div class="name">{{ m.one.name }}</div>
                    </div>

                    <div class="match-versus">vs</div>

                    <div class="opponent-2">
                        <div class="name">{{ m.two.name }}</div>
                        <div class="score">{{ m.team_two_score ?? 0 }}</div>
                    </div>
                </div>
                {% set n = n+1 %}
                {% endfor %}
            </div>
        </div>

        <div class="rr-group-standings">
            <h3>Standings</h3>
            <div class="standings-wrapper">
                {% set s = 0 %}
                {% for t in teams %}
                <div id="standing-{{ s }}" class="standing inactive">
                    <div class="name">{{ t.name }}</div>
                    <div class="points">{{ t.pivot.points ?? 0 }}</div>
                </div>
                {% set s = s+1 %}
                {% endfor %}

                {% for i in s..10 %}
                <div id="standing-{{ i }}" class="standing inactive">
                    <div class="name"></div>
                    <div class="points"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>