<div class="next-match-header">
    <h1>Regional Qualifier</h1>
    <p id="best-of">North America</p>
</div>

<div class="bracket single-eight">
    <div class="round">
        <div class="match-pair">
            <div class="match active">
                <div class="match-header">Match 1</div>
                <div class="opponent-1">
                    <span class="name">Chance of the Offensive Aegis Boon</span>
                    <span class="score">3</span>
                </div>
                <div class="opponent-2">
                    <span class="name">peepopoopoo</span>
                    <span class="score">1</span>
                </div>
            </div>
            <div class="match">
                <div class="match-header">Match 2</div>
                <div class="opponent-1">
                    <span class="name">Chance of the Offensive Aegis Boon</span>
                    <span class="score">2</span>
                </div>
                <div class="opponent-2">
                    <span class="name">peepopoopoo</span>
                    <span class="score">0</span>
                </div>
            </div>
        </div>

        <div class="match-pair">
            <div class="match">
                <div class="match-header">Match 3</div>
                <div class="opponent-1">
                    <span class="name">Chance of the Offensive Aegis Boon</span>
                    <span class="score">3</span>
                </div>
                <div class="opponent-2">
                    <span class="name">peepopoopoo</span>
                    <span class="score">1</span>
                </div>
            </div>
            <div class="match">
                <div class="match-header">Match 4</div>
                <div class="opponent-1">
                    <span class="name">Chance of the Offensive Aegis Boon</span>
                    <span class="score">3</span>
                </div>
                <div class="opponent-2">
                    <span class="name">peepopoopoo</span>
                    <span class="score">1</span>
                </div>
            </div>
        </div>
    </div>

    <div class="round">
        <div class="match-pair">
            <div class="match">
                <div class="match-header">Match 5</div>
                <div class="opponent-1">
                    <span class="name">Chance of the Offensive Aegis Boon</span>
                    <span class="score">3</span>
                </div>
                <div class="opponent-2">
                    <span class="name">peepopoopoo</span>
                    <span class="score">1</span>
                </div>
            </div>
            <div class="match">
                <div class="match-header">Match 6</div>
                <div class="opponent-1">
                    <span class="name">Chance of the Offensive Aegis Boon</span>
                    <span class="score">3</span>
                </div>
                <div class="opponent-2">
                    <span class="name">peepopoopoo</span>
                    <span class="score">1</span>
                </div>
            </div>
        </div>
    </div>

    <div class="final-round round">
        <div class="match">
            <div class="match-header">Finals</div>
            <div class="opponent-1">
                <span class="name">Chance of the Offensive Aegis Boon</span>
                <span class="score">3</span>
            </div>
            <div class="opponent-2">
                <span class="name">peepopoopoo</span>
                <span class="score">1</span>
            </div>
        </div>

        <div class="match">
            <div class="match-header">Third Place</div>
            <div class="opponent-1">
                <span class="name">Chance of the Offensive Aegis Boon</span>
                <span class="score">3</span>
            </div>
            <div class="opponent-2">
                <span class="name">peepopoopoo</span>
                <span class="score">1</span>
            </div>
        </div>
    </div>

    <div class="seeding round">
        <div class="seeds">
            <div class="seed">Winners</div>
            <div class="seed">Second</div>
            <div class="seed">Third</div>
            <div class="seed">Fourth</div>
        </div>
    </div>
</div>