<div class="mt-2">
    <h3>Team List</h3>

    <form
            data-request="{{ __SELF__ }}::onAddTeam"
            data-request-update="'{{ __SELF__ }}::_list': '#roster'"
            data-request-success="$('#newTeam').val('')">
        <input type="hidden" id="event" name="event" value="{{ event.id }}">
        <input type="text" id="newTeam" name="newTeam" class="form-control" placeholder="Enter the team name.">
        <button type="submit" class="btn btn-outline-primary">Add Team</button>

        <div id="roster" class="category-group">
            {% for team in event.teams %}
            <div class="category-group-item d-flex justify-content-between">
                {{ team.id }} : {{ team.name }}

                <a href="javascript:;"
                   data-request="{{ __SELF__ }}::onRemoveTeam"
                   data-request-update="'{{ __SELF__ }}::_list': '#roster'"
                   data-request-data="event: {{ event.id }}, team: {{ team.id }}"
                   class="list-group-item list-group-item-action">Remove Team</a>
            </div>
            {% endfor %}
        </div>
    </form>


</div>