<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <h1><a href="/events/manage">Manage</a> Event</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">{{ event.name }}</p>
        </div>
    </div>

    <div class="container basic-content">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-settings-tab" data-toggle="tab" href="#nav-settings"
                   role="tab" aria-controls="nav-settings" aria-selected="true">Settings</a>
                <a class="nav-item nav-link" id="nav-teams-tab" data-toggle="tab" href="#nav-teams"
                   role="tab" aria-controls="nav-teams" aria-selected="false">Teams</a>
                <a class="nav-item nav-link" id="nav-matches-tab" data-toggle="tab" href="#nav-matches"
                   role="tab" aria-controls="nav-home" aria-selected="false">Matches</a>
                {% if 1 == 1 %}
                <a class="nav-item nav-link" id="nav-overlay-tab" data-toggle="tab" href="#nav-overlay"
                   role="tab" aria-controls="nav-overlay" aria-selected="false">Overlay</a>
                {% endif %}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-settings" role="tabpanel"
                 aria-labelledby="nav-settings-tab">
                {% partial __SELF__~'::settings' %}
            </div>
            <div class="tab-pane fade" id="nav-teams" role="tabpanel" aria-labelledby="nav-teams-tab">
                {% partial __SELF__~'::teams' %}
            </div>
            <div class="tab-pane fade" id="nav-matches" role="tabpanel" aria-labelledby="nav-matches-tab">
                {% partial __SELF__~'::matches' %}
            </div>
            {% if 1 == 1 %}
            <div class="tab-pane fade" id="nav-overlay" role="tabpanel" aria-labelledby="nav-overlay-tab">
                {% partial __SELF__~'::manage_overlay' %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const configuration = {{ config_event|raw }};
</script>