<div class="mt-2">
    <p class="pt-2 lead">Edit Event Settings</p>

    <form data-request="onEventUpdate"
          data-request-validate>
        <input type="hidden" name="eid" value="{{ event.id }}">

        <div class="alert alert-danger d-none" role="alert" data-validate-error>
            <p class="mb-0" data-message></p>
        </div>

        <div class="form-group">
            <label for="event-title">Event Title</label>
            <input id="event-title" name="event-title" type="text" class="form-control"
                   value="{{ event.name }}" placeholder="Event Title">
        </div>

        <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea id="event-description" name="event-description"
                      class="form-control">{{ event.description }}</textarea>
        </div>

        <hr>

        <div class="form-group">
            <label for="event-type">Event Type</label>
            <select id="event-type" name="event-type" class="form-control">
                <option value="">Select One</option>
                {% for type in event_types %}
                <option value="{{ type.value }}" {% if event.type == type.value %}selected{% endif %}>
                    {{ type.display }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="event-config"></div>

        <button type="submit" class="btn btn-outline-primary">
            Save Settings
        </button>

    </form>

    <div class="d-flex flex-row-reverse" data-request-data="id: {{ event.id }}">
        <button class="btn btn-outline-danger pull-right"
                data-request="onEventDelete"
                data-request-confirm="Are you sure?">
            Delete Event?</button>
    </div>
</div>